* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: antiquewhite;
}

header {
    padding: 150px 0 30px;
    display: flex;
    justify-content: center;
}

form {
    padding: 16px;
    display: flex;
    justify-content: center;
}

form input{
    padding: 16px;
    width: 300px;
}

form button{
    padding: 16px;
    margin-left: 16px;
    width: 120px;
    background-color: rgb(207, 184, 153);
}

ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

li {
    list-style-type: armenian;
}

ul li:hover {
    cursor: pointer;
}

.realizado {
    text-decoration: line-through;
}